body {
    background-image: url("image.jpg");
    text-align: center;
    padding: 100px;
  }
  #ultimo {
    background-color: red;
    box-shadow: 10px 10px rgb(168, 0, 0);
    font-size: 50px;
    width: 400px;
  }
  #startar {
    background-color: white;
    box-shadow: 10px 10px gainsboro;
    font-size: 40px;
    width: 300px;
    color: black;
  }
  #bah {
    background-color: rgb(0, 255, 0);
    box-shadow: 10px 10px rgb(2, 100, 2);
    color: rgb(12, 94, 5);
    width: 300px;
  }
  
  /* Container para alinhar o botão "Varrer" e o GIF */
  .button-container {
    width: 700px; /* mesma largura dos botões */
    margin: auto;
    display: flex;
    justify-content: flex-start; /* itens à esquerda */
    align-items: center;
  }
  
  /* Ajuste do tamanho e posicionamento do GIF */
  #gif {
    position: absolute;
    top: calc(100% - 600px); /* Ajuste a altura conforme a posição do botão */
    left: 10px;              /* Bem à esquerda */
    width: 200-px;            /* Tamanho mais visível */
    z-index: 100;             /* Fica por cima se precisar */
  }
  